.blackbox-cell{
    border: 1px #000 solid;
    margin: 0px !important;
    padding: 0px !important;
    height: 60px;
    width: 60px;
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.blackbox-cell-bg-blank{    
    background-image: url(img/blank.gif);
}
.blackbox-cell-bg-marked{    
    background-image: url(img/black-round.gif);
}
.blackbox-cell-bg-redmarked{    
    background-image: url(img/red-round.gif);
}

.blackbox-cell-corner{
    border:none; 
    margin: 0px !important;
    padding: 0px !important;
    height: 60px;
    width: 60px;
}

.blackbox-cell-edge{
    border: 1px #000 solid;
    margin: 0px !important;
    padding: 0px !important;
    height: 60px;
    width: 60px;
    background-color: grey;
    text-align: center;
}