<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>One Drive Client</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
  <link rel="stylesheet" type="text/css" href="./styles/metro.css">
  <script>
    if (typeof module === 'object') {window.module = module; module = undefined;}
  </script>
  <script src="./scripts/external/require.js" data-main="./scripts/libs"></script>
  <script>
    if (window.module) module = window.module;
  </script>
</head>

<body>
  <div class="grid" ng-app="onedriveclient" ng-controller="root">
    <div class="row" ng-controller="operation">
      <div class="cell app-bar" data-role="appbar">
        <a class="app-bar-element" href="#">OneDrive Client</a>
        <ul class="app-bar-menu">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Sync</a></li>
        </ul>       
      </div>
    </div>
    <div class="padding-top-10 row cells4">
      <div class="cell">
        <label for="inputFolderPath">Local sync folder:</label>
      </div>
      <div class="cell colspan3">
        <span>{{folderPath}}</span>
      </div>
    </div>
    <div class="padding-top-10 row cells4">
      <div class="cell treeview" data-role="treeview" ng-controller="tree">
        <ul id="tree">
        </ul>
      </div>
      <div class="cell colspan3" ng-controller="board">
        <div>
          <div ng-class="boardType == 'filelist' ? 'div-btn float-right' : 'div-btn-gray float-right'" ng-click="drawBoard('filelist')"><img src="styles/img/listview.png"></div>
          <div ng-class="boardType == 'treemap' ? 'div-btn float-right' : 'div-btn-gray float-right'" ng-click="drawBoard('treemap')"><img src="styles/img/treeview.png"></div>
        </div>
        <div class="padding-top-10">
          <div id="board"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>