<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>OneDrive Client</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
  <link rel="stylesheet" type="text/css" href="./styles/metro.css">
  <script src="./scripts/lib/angular.js"></script>
  <script src="./scripts/onedriveclient.js"></script>
  <script src="./scripts/controllers.js"></script>
  <script src="./scripts/services.js"></script>
</head>

<body ng-app="onedriveclient" ng-controller="root">
  <div class="grid margin-top-0">
    <div class="row" ng-controller="operation">
      <div class="cell app-bar" data-role="appbar">
        <a class="app-bar-element" href="#">OneDrive Client</a>
        <ul class="app-bar-menu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Sync</a></li>
        </ul>
        <a class="app-bar-element place-right">{{folderPath}}</a>
      </div>
    </div>
    <div class="row cells6">
      <div class="cell treeview" data-role="treeview" ng-controller="tree">
        <script id="treeTemplate" type="text/ng-template">       
          <li>
            <span class='leaf' ng-click="loadSub(file)"><span class='icon mif-folder'></span>{{file.name}}</span>
            <ul ng-include="'treeTemplate'" ng-repeat="file in file.children"></ul>
          </li>          
        </script>
        <ul ng-include="'treeTemplate'" ng-repeat="file in files"></ul>
      </div>
      <div class="cell colspan5" ng-controller="board">
        <div data-role="group" data-group-type="one-state">
          <button class="button" ng-click="drawBoard('filelist')">List</button>
          <button class="button" ng-click="drawBoard('filetable')">Table</button>
          <button class="button" ng-click="drawBoard('treemap')">SizeMap</button>
        </div>
        <div class="padding-top-10">
          <div id="board"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="MaskLayer" ng-if="masked">
    <div class="MaskLayer-Content" data-role="preloader" data-type="ring"></div>
  </div>
</body>

</html>