<div class="grid margin-top-0 border-1">
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
    <div class="row cells9">
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
        <div class="cell blackbox-cell"></div>
    </div>
</div>