<table class="table striped">
    <tr>
        <th></th>
        <th>File Name</th>
        <th>Size</th>
        <th>Created Date</th>
    </tr>
    <tr ng-repeat="file in files">
        <td><span ng-if="file.isDirectory" class='list-icon mif-folder fg-blue'></span>
            <span ng-if="!file.isDirectory" class='list-icon mif-file-empty fg-red'></span></td>
        <td ng-click="openFile(file)">{{file.name}}</td>
        <td>{{file.displaySize}}</td>
        <td>{{file.createDate}}</td>
    </tr>
</table>